body {
  font-family: 'Source Code Pro', monospace;
  font-size: 14pt;
  font-weight: normal;
  background: #0f0f23;
  color: #cccccc;
}

a {
  color: #009900;
  cursor: pointer;
}

a:hover, a:focus {
  color: #99ff99;
}

h1, h2 {
  font-size: 1em;
  font-weight: normal;
}